.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.971219;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.972168;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.971191;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-3.440025px;}
._3{margin-left:-1.676821px;}
._0{width:1.073737px;}
._4{width:3.026504px;}
._8{width:73.329910px;}
._7{width:74.340002px;}
._6{width:390.205595px;}
._2{width:400.580173px;}
._5{width:600.450912px;}
.fc4{color:rgb(255,255,255);}
.fc0{color:rgb(47,59,68);}
.fc1{color:rgb(40,180,163);}
.fc2{color:rgb(0,0,0);}
.fc3{color:rgb(124,124,124);}
.fs4{font-size:28.337412px;}
.fs2{font-size:31.993853px;}
.fs5{font-size:35.650293px;}
.fs1{font-size:43.877283px;}
.fs3{font-size:55.760714px;}
.fs0{font-size:92.325117px;}
.y0{bottom:1.500000px;}
.y1{bottom:1.704319px;}
.y38{bottom:32.450905px;}
.y37{bottom:43.877281px;}
.y36{bottom:56.674822px;}
.y5e{bottom:87.068982px;}
.y35{bottom:87.754564px;}
.y5d{bottom:97.124193px;}
.y34{bottom:99.180940px;}
.y33{bottom:111.978481px;}
.y5c{bottom:119.291362px;}
.y32{bottom:129.118045px;}
.y5b{bottom:129.346573px;}
.y5a{bottom:139.173256px;}
.y59{bottom:161.340425px;}
.y31{bottom:170.252998px;}
.y58{bottom:171.395636px;}
.y62{bottom:181.222319px;}
.y30{bottom:193.105750px;}
.y57{bottom:193.562805px;}
.y56{bottom:203.618016px;}
.y2f{bottom:204.532126px;}
.y55{bottom:213.444699px;}
.y2e{bottom:217.329667px;}
.y54{bottom:235.611869px;}
.y2d{bottom:245.210024px;}
.y53{bottom:245.667079px;}
.y2c{bottom:255.036708px;}
.y52{bottom:255.493763px;}
.y2b{bottom:267.834249px;}
.y51{bottom:277.660932px;}
.y61{bottom:278.803569px;}
.y50{bottom:287.716143px;}
.y2a{bottom:291.601110px;}
.y4f{bottom:297.542826px;}
.y29{bottom:300.513684px;}
.y28{bottom:311.940060px;}
.y4e{bottom:319.709995px;}
.y27{bottom:324.737601px;}
.y4d{bottom:329.765206px;}
.y4c{bottom:339.591889px;}
.y26{bottom:352.617958px;}
.y4b{bottom:361.759059px;}
.y25{bottom:365.415499px;}
.y4a{bottom:371.814269px;}
.y24{bottom:375.242182px;}
.y60{bottom:386.211503px;}
.y49{bottom:393.981439px;}
.y23{bottom:398.094934px;}
.y48{bottom:404.036649px;}
.y22{bottom:409.521310px;}
.y47{bottom:413.863333px;}
.y21{bottom:422.318851px;}
.y46{bottom:436.030502px;}
.y45{bottom:446.085713px;}
.y20{bottom:450.199208px;}
.y44{bottom:455.912396px;}
.y1f{bottom:460.025891px;}
.y1e{bottom:469.852575px;}
.y43{bottom:478.079565px;}
.y1d{bottom:479.679258px;}
.y42{bottom:488.134776px;}
.y1c{bottom:492.476799px;}
.y1b{bottom:502.303482px;}
.y41{bottom:510.301945px;}
.y1a{bottom:512.130165px;}
.y40{bottom:520.357156px;}
.y19{bottom:524.927706px;}
.y3f{bottom:530.183839px;}
.y18{bottom:534.754390px;}
.y17{bottom:544.581073px;}
.y3e{bottom:545.495183px;}
.y16{bottom:557.378614px;}
.y15{bottom:567.205297px;}
.y14{bottom:577.031981px;}
.y13{bottom:586.858664px;}
.y3d{bottom:593.485962px;}
.y12{bottom:599.656205px;}
.y11{bottom:609.482888px;}
.y3c{bottom:617.938406px;}
.y10{bottom:619.309571px;}
.yf{bottom:629.136255px;}
.y5f{bottom:640.105576px;}
.y3b{bottom:642.390851px;}
.ye{bottom:652.903117px;}
.yd{bottom:660.901580px;}
.y3a{bottom:666.843295px;}
.yc{bottom:669.814153px;}
.yb{bottom:681.240529px;}
.y39{bottom:691.295740px;}
.ya{bottom:694.038070px;}
.y9{bottom:711.177634px;}
.y8{bottom:753.455224px;}
.y4{bottom:763.738963px;}
.y7{bottom:772.194481px;}
.y3{bottom:781.335582px;}
.y6{bottom:790.933737px;}
.y2{bottom:797.789563px;}
.y5{bottom:809.672994px;}
.h7{height:22.193950px;}
.h5{height:25.057685px;}
.h8{height:27.921421px;}
.h4{height:34.364826px;}
.h6{height:43.671966px;}
.h3{height:72.309320px;}
.h2{height:840.295681px;}
.h1{height:840.500000px;}
.h0{height:842.000000px;}
.w1{width:594.857128px;}
.w0{width:595.000000px;}
.x0{left:0.000000px;}
.x1{left:37.935568px;}
.x6{left:47.762251px;}
.x7{left:321.309690px;}
.x8{left:328.165516px;}
.x9{left:330.222264px;}
.x2{left:461.625586px;}
.x4{left:474.194600px;}
.x5{left:487.449196px;}
.x3{left:494.305022px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-4.586700pt;}
._3{margin-left:-2.235761pt;}
._0{width:1.431649pt;}
._4{width:4.035339pt;}
._8{width:97.773213pt;}
._7{width:99.120002pt;}
._6{width:520.274127pt;}
._2{width:534.106898pt;}
._5{width:800.601216pt;}
.fs4{font-size:37.783216pt;}
.fs2{font-size:42.658470pt;}
.fs5{font-size:47.533724pt;}
.fs1{font-size:58.503045pt;}
.fs3{font-size:74.347619pt;}
.fs0{font-size:123.100156pt;}
.y0{bottom:2.000000pt;}
.y1{bottom:2.272425pt;}
.y38{bottom:43.267873pt;}
.y37{bottom:58.503041pt;}
.y36{bottom:75.566429pt;}
.y5e{bottom:116.091976pt;}
.y35{bottom:117.006086pt;}
.y5d{bottom:129.498923pt;}
.y34{bottom:132.241254pt;}
.y33{bottom:149.304642pt;}
.y5c{bottom:159.055149pt;}
.y32{bottom:172.157394pt;}
.y5b{bottom:172.462097pt;}
.y5a{bottom:185.564341pt;}
.y59{bottom:215.120567pt;}
.y31{bottom:227.003998pt;}
.y58{bottom:228.527515pt;}
.y62{bottom:241.629759pt;}
.y30{bottom:257.474334pt;}
.y57{bottom:258.083740pt;}
.y56{bottom:271.490688pt;}
.y2f{bottom:272.709501pt;}
.y55{bottom:284.592932pt;}
.y2e{bottom:289.772889pt;}
.y54{bottom:314.149158pt;}
.y2d{bottom:326.946699pt;}
.y53{bottom:327.556106pt;}
.y2c{bottom:340.048943pt;}
.y52{bottom:340.658350pt;}
.y2b{bottom:357.112331pt;}
.y51{bottom:370.214576pt;}
.y61{bottom:371.738093pt;}
.y50{bottom:383.621524pt;}
.y2a{bottom:388.801481pt;}
.y4f{bottom:396.723768pt;}
.y29{bottom:400.684912pt;}
.y28{bottom:415.920079pt;}
.y4e{bottom:426.279994pt;}
.y27{bottom:432.983467pt;}
.y4d{bottom:439.686941pt;}
.y4c{bottom:452.789186pt;}
.y26{bottom:470.157277pt;}
.y4b{bottom:482.345411pt;}
.y25{bottom:487.220665pt;}
.y4a{bottom:495.752359pt;}
.y24{bottom:500.322909pt;}
.y60{bottom:514.948671pt;}
.y49{bottom:525.308585pt;}
.y23{bottom:530.793245pt;}
.y48{bottom:538.715532pt;}
.y22{bottom:546.028413pt;}
.y47{bottom:551.817777pt;}
.y21{bottom:563.091801pt;}
.y46{bottom:581.374003pt;}
.y45{bottom:594.780950pt;}
.y20{bottom:600.265611pt;}
.y44{bottom:607.883195pt;}
.y1f{bottom:613.367855pt;}
.y1e{bottom:626.470099pt;}
.y43{bottom:637.439420pt;}
.y1d{bottom:639.572344pt;}
.y42{bottom:650.846368pt;}
.y1c{bottom:656.635732pt;}
.y1b{bottom:669.737976pt;}
.y41{bottom:680.402594pt;}
.y1a{bottom:682.840221pt;}
.y40{bottom:693.809541pt;}
.y19{bottom:699.903609pt;}
.y3f{bottom:706.911786pt;}
.y18{bottom:713.005853pt;}
.y17{bottom:726.108097pt;}
.y3e{bottom:727.326911pt;}
.y16{bottom:743.171485pt;}
.y15{bottom:756.273730pt;}
.y14{bottom:769.375974pt;}
.y13{bottom:782.478218pt;}
.y3d{bottom:791.314616pt;}
.y12{bottom:799.541606pt;}
.y11{bottom:812.643851pt;}
.y3c{bottom:823.917875pt;}
.y10{bottom:825.746095pt;}
.yf{bottom:838.848340pt;}
.y5f{bottom:853.474101pt;}
.y3b{bottom:856.521134pt;}
.ye{bottom:870.537489pt;}
.yd{bottom:881.202106pt;}
.y3a{bottom:889.124393pt;}
.yc{bottom:893.085537pt;}
.yb{bottom:908.320705pt;}
.y39{bottom:921.727653pt;}
.ya{bottom:925.384093pt;}
.y9{bottom:948.236845pt;}
.y8{bottom:1004.606966pt;}
.y4{bottom:1018.318617pt;}
.y7{bottom:1029.592641pt;}
.y3{bottom:1041.780776pt;}
.y6{bottom:1054.578317pt;}
.y2{bottom:1063.719417pt;}
.y5{bottom:1079.563992pt;}
.h7{height:29.591933pt;}
.h5{height:33.410247pt;}
.h8{height:37.228561pt;}
.h4{height:45.819767pt;}
.h6{height:58.229288pt;}
.h3{height:96.412427pt;}
.h2{height:1120.394242pt;}
.h1{height:1120.666667pt;}
.h0{height:1122.666667pt;}
.w1{width:793.142837pt;}
.w0{width:793.333333pt;}
.x0{left:0.000000pt;}
.x1{left:50.580757pt;}
.x6{left:63.683002pt;}
.x7{left:428.412921pt;}
.x8{left:437.554021pt;}
.x9{left:440.296351pt;}
.x2{left:615.500782pt;}
.x4{left:632.259467pt;}
.x5{left:649.932261pt;}
.x3{left:659.073362pt;}
}
